.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px; 
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.galeria-logo {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px; 
  font-family: "Micro 5", cursive;
  color: aliceblue;
  transition: font-size 0.3s ease; 
}

.galeria-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  width: 100%; 
}

@media (max-width: 768px) {
  .galeria-logo {
    font-size: 50px; 
  }
  .galeria {
    padding: 40px 15px;
  }
}

@media (max-width: 480px) {
  .galeria-logo {
    font-size: 35px; 
  }
}