.imagem1 {
    height: 100vh;
    background: url("./img/gif_barquinho.gif") center center/cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.textos {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #D9DADC;
  font-size: 80px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

