
.desenvolvedores {
  padding: 60px 0;
  background-color: #1a1a2e; }

.desenvolvedores .titulo {
  font-family: "Oswald", sans-serif;
  color: #ffffff; 
  font-size: 2.5rem; 
  text-align: center;
  margin-bottom: 1rem;
}

.desenvolvedores .titulo:nth-of-type(2) { 
  font-size: 1.2rem;
  font-weight: 400;
  color: #D9DADC;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.desenvolvedores__wrapper {
  display: flex;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 400px;
  overflow: hidden; 
}

.dev-card {
  position: relative;
  flex: 1; 
  overflow: hidden;
  transition: flex 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 10px; 
  margin: 0 5px; 
}

.dev-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.dev-card.active {
  flex: 5; 
}

.dev-card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent); 
  padding: 1rem;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #ffffff; 
}

.dev-card.active .overlay {
  opacity: 1;
}

.dev-card .overlay h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.dev-card .overlay p {
  margin: 0.5rem 0 0;
  font-size: 1.1rem;
}



@media (max-width: 992px) {
  .desenvolvedores__wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  .desenvolvedores__wrapper::-webkit-scrollbar {
    display: none; /
  }

  .dev-card {
    min-width: 250px;
    flex-grow: 1;
  }

  .dev-card.active {
    min-width: 400px;
    flex: 1; /* O flex:5 pode ser muito grande, ajustamos para um crescimento mais sutil */
  }
}

@media (max-width: 768px) {
  .desenvolvedores .titulo {
    font-size: 2rem;
  }
  .desenvolvedores .titulo:nth-of-type(2) {
    font-size: 1rem;
  }
  .desenvolvedores__wrapper {
    height: 350px; /* Reduz a altura dos cards em telas menores */
  }
  .dev-card {
    min-width: 200px;
  }
}