@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('./layout/footer.css');
@import url('./layout/header.css');
@import url('/styles/layout/botoesetxt.css');
@import url('/styles/sobre/título.css');
@import url('/styles/sobre/quem_Somos.css');
@import url('/styles/sobre/desenvolvedores.css');
@import url('/styles/sobre/valores.css');
@import url('/styles/responsividade/responsivo.css');




* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
