@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
  margin: 0; 
  padding: 0;
  border: 0; 
  outline: 0;
  text-decoration: none; 
  list-style: none;
  box-sizing: border-box; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.bg-header{
    background-color: black;
    display: flex;
    justify-content: center;
    
}

.nav > a, span{
    font-size: 16px;
    color: white;
    font-weight: 700;
}

.nav > a:hover{
    color: darkgreen;
}

.container{
    width: 1170px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    
}


.logo {
    height: 40px;        /* altura proporcional à faixa preta */
    width: 40px;
    border-radius: 50%; /* deixa a imagem redonda */
    object-fit: cover;
}

.nav{
    display: flex;
    gap: 16px;
}

.links{
    color: #D9DADC !important;
}

/* PARALLAX */
.imagem1 {
    height: 100vh;
    background: url("/img/gif_barquinho.gif") center center/cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.textos {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #D9DADC;
  font-size: 80px;
}

